// THEME FONTS (WOFF)

@font-face {
  font-family: 'Escrow Banner Light';
  src: url('../fonts/EscrowBannerLight.woff') format('woff');
}

@font-face {
  font-family: 'DJ5 Escrow Light Display';
  src: url('../fonts/DJ5EscrowLightDisplay.woff') format('woff');
}

@font-face {
  font-family: 'Escrow Banner Light Italic';
  src: url('../fonts/EscrowBannerLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Retina Extra Light';
  src: url('../fonts/RetinaExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Retina Extra Light Italic';
  src: url('../fonts/RetinaExtraLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Retina Light';
  src: url('../fonts/RetinaLight.woff') format('woff');
}

@font-face {
  font-family: 'Retina Book';
  src: url('../fonts/RetinaBook.woff') format('woff');
}

@font-face {
  font-family: 'Retina Medium';
  src: url('../fonts/RetinaMedium.woff') format('woff');
}
